/env

/data/training/*
/data/inference/*
!/data/training/.gitkeep
!/data/inference/.gitkeep

/model/finetuned_models/*
!/model/ensemble_model/.gitkeep
!/model/finetuned_models/.gitkeep
/model/evaluation/*
!/model/evaluation/.gitkeep

/model_predictions/*
/model_predictions/.gitkeep

.DS_Store
.ipynb_checkpoints/
*.py[cod]
*.so
*.pyd
*.dylib
__pycache__/
*.egg
*.egg-info/
dist/
build/